body {
    font-size: 30px;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    display: none;
}

.game {
    display: flex;
}

.scoreboard {
    width: 30%;
}

.btns {
    display: flex;
    justify-content: space-between;
}
.btn {
    padding: 5px;
    font-size: 1rem;
}

.startBtn {
    background-color: green;

}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 30%;
    height: 30vw;
    margin: 0 auto;
}

.square {
    width: 100%;
    height: 100%;
    background-color: rgba(86, 85, 89, 0.2);
}

.square:nth-of-type(-n+3) {
    border-bottom: 1px solid black;
}

.square:nth-of-type(n+7) {
    border-top: 1px solid black;
}

.square:nth-of-type(3n-1) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.modeSelected {
    background-color: rgb(234, 112, 112);
}

